<section class="why-paws" id="about">
  <div class="container">
    <h2 class="why-paws__title">Чому Хатинка Лапок</h2>

    <div class="about-wrapper">
      <div class="swiper about-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hatinka-lapok/slide01-mob@1x.webp 1x,
                  ./img/hatinka-lapok/slide01-mob@2x.webp 2x
                "
              />
              <img
                src="./img/hatinka-lapok/slide01-tab-desk@1x.webp"
                srcset="./img/hatinka-lapok/slide01-tab-desk@2x.webp 2x"
                class="slide-image"
                alt="Dog with a girl"
              />
            </picture>
            <div class="slide-content">
              Все почалося у 2015 році з кількох небайдужих людей та одного
              врятованого собаки. Сьогодні ми — один з найбільших притулків у
              регіоні, але наша мета незмінна: дати другий шанс тим, кого
              зрадили.
            </div>
          </div>

          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hatinka-lapok/slide02-mob@1x.webp 1x,
                  ./img/hatinka-lapok/slide02-mob@2x.webp 2x
                "
              />
              <img
                src="./img/hatinka-lapok/slide02-tab-desk@1x.webp"
                srcset="./img/hatinka-lapok/slide02-tab-desk@2x.webp 2x"
                class="slide-image"
                alt="Dog"
              />
            </picture>
            <div class="slide-content">
              Ми рятуємо, реабілітуємо та знаходимо люблячі родини для
              безпритульних тварин. Наша мета — не просто дати прихисток, а й
              забезпечити кожному "хвостику" щасливе та повноцінне життя в новій
              родині.
            </div>
          </div>

          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hatinka-lapok/slide03-mob@1x.webp 1x,
                  ./img/hatinka-lapok/slide03-mob@2x.webp 2x
                "
              />
              <img
                src="./img/hatinka-lapok/slide03-tab-desk@1x.webp"
                srcset="./img/hatinka-lapok/slide03-tab-desk@2x.webp 2x"
                class="slide-image"
                alt="Pets and doctors"
              />
            </picture>
            <div class="slide-content">
              "Хатинка Лапок" — це команда професійних ветеринарів, кінологів та
              десятків волонтерів, які щодня вкладають свою душу та час у
              турботу про наших підопічних. Ми працюємо 24/7, бо їхнє життя
              залежить від нас.
            </div>
          </div>

          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hatinka-lapok/slide04-mob@1x.webp 1x,
                  ./img/hatinka-lapok/slide04-mob@2x.webp 2x
                "
              />
              <img
                src="./img/hatinka-lapok/slide04-tab-desk@1x.webp"
                srcset="./img/hatinka-lapok/slide04-tab-desk@2x.webp 2x"
                class="slide-image"
                alt="Shelter exterior"
              />
            </picture>
            <div class="slide-content">
              Ми створили безпечний та комфортний простір. Кожна тварина отримує
              якісне харчування, своєчасну ветеринарну допомогу, проходить
              соціалізацію та гуляє на спеціально обладнаних майданчиках.
            </div>
          </div>

          <div class="swiper-slide">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hatinka-lapok/slide05-mob@1x.webp 1x,
                  ./img/hatinka-lapok/slide05-mob@2x.webp 2x
                "
              />
              <img
                src="./img/hatinka-lapok/slide05-tab-desk@1x.webp"
                srcset="./img/hatinka-lapok/slide05-tab-desk@2x.webp 2x"
                class="slide-image"
                alt="Kid hugging the dog"
              />
            </picture>
            <div class="slide-content">
              Ваша допомога — безцінна. Ви можете взяти тваринку додому, стати
              волонтером, допомогти фінансово або інформаційно. Кожен маленький
              внесок наближає нас до великої мети — світу без безпритульних
              тварин.
            </div>
          </div>
        </div>
      </div>

      <div class="why-paws-controls">
        <div class="swiper-pagination about-pagination"></div>
        <button class="about-btn-prev" type="button">
          <svg class="arrow-icon" width="18" height="18">
            <use href="./img/icons.svg#icon-arrow-back"></use>
          </svg>
        </button>
        <button class="about-btn-next" type="button">
          <svg class="arrow-icon" width="18" height="18">
            <use href="./img/icons.svg#icon-arrow-forward"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
