<section class="success-stories" id="success">
  <div class="success-stories-wrapper container">
    <h1 class="success-stories-title">Щасливі історії, що надихають</h1>
    <p class="success-stories-subtitle">
      Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
    </p>
    <div class="swiper swiper-stories">
      <ul class="swiper-wrapper"></ul>
      <span class="loader hidden"></span>
    </div>
    <div class="stories-controls hidden">
      <div class="swiper-pagination"></div>
      <button type="button" class="swiper-button-prev">
        <svg>
          <use href="/img/icons.svg#icon-arrow-back"></use>
        </svg>
      </button>
      <button type="button" class="swiper-button-next">
        <svg>
          <use href="/img/icons.svg#icon-arrow-forward"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
