.hero {
  width: 100%;
  min-width: 320px;
  background-image: url(../img/hero/hero-mob@1x.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 64px;
  padding-bottom: 115px;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: url(../img/hero/hero-mob@2x.webp);
  }
}

.hero-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 24px;
}

.hero-text {
  color: #fff;
  margin-bottom: 32px;
}

.hero-btn {
  display: inline-block;
  border: 1px solid #88765c;
  border-radius: 8px;
  padding: 12px 24px;
  background-color: #88765c;
  font-size: 14px;
  color: #fff;
  transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #eee9e3;
  color: #02060a;
}

.hero-btn:active {
  background-color: #eee9e3;
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

.hero-btn:disabled {
  opacity: 0.3;
}

@media only screen and (min-width: 768px) {
  .hero {
    background-image: url(../img/hero/hero-tab@1x.webp),
      url(../img/hero/hero-tab@2x.webp);
    padding-bottom: 235px;
  }

  .hero-title {
    max-width: 622px;
  }

  .hero-text {
    max-width: 500px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    background-image: url(../img/hero/hero-desk@1x.webp);
    padding-top: 128px;
    padding-bottom: 413px;
  }

  @media (min-resolution: 192dpi) {
    .hero {
      background-image: url(../img/hero/hero-desk@2x.webp);
    }
  }
  .hero-title {
    font-size: 56px;
  }

  .hero-text {
    font-size: 18px;
  }

  .hero-btn {
    font-size: 16px;
  }
}
